".source.js":
    "ajax":
      "prefix": "ajax",
      "body": """
      this.$ajax.get('')
          .then((res) => {

          })
          .catch(() => {

          });
      """
    "message":
      "prefix": "msg",
      "body": """
      this.$message('','sucess|error');
      """
