".source.js":
    "ajax":
      "prefix": "ajax",
      "body": """
      this.$ajax.get('')
          .then((res) => {

          })
          .catch(() => {

          });
      """
    "message-error":
      "prefix": "msgerror",
      "body": """
      this.$message.error('');
      """
    "message-succ":
      "prefix": "msgsucc",
      "body": """
      this.$message.success('');
      """
